#backtotop {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 10px;
  bottom: 30px;
  border-radius: 10px;
  background:#fff url(../image/backtop.png) center no-repeat;
  background-size: 100%;
<<<<<<< HEAD
  /*display: none;*/
=======
  display: none;
>>>>>>> 94db9506c45d8eae278a53944e796be71b4acd08
}